/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
}

/* Header and footer */
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Header buttons container */
#header-buttons {
    display: flex;
    justify-content: center;
}

/* Main title  */
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

/* Creators information */
#creators {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* Playlist and Credits buttons */
#playlist-button,
#credits-button,
#close-view-button-container {
    margin-right: 10px;
    border-radius: 5px;
}

/* Main content container */
#search-songs-view,
#playlist-view,
#single-song-view {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* playlist and credits buttons */
#playlist-button,
#credits-button,
#close-view-button-container {
    margin-right: 10px;
    border-radius: 5px;
}

/* form elements */
#song-search,
#artist-select,
#genre-select {
    padding: 5px;
    margin: 10px;
}

/* radio buttons */
#radioButtons {
    margin-bottom: 20px;
    margin-top: -10px;
}

/* search results table */
#search-results {
    margin-top: 20px;
}

#song-search-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* tables */
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

/* table headers and cells */
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

/* table header */
th {
    background-color: #333;
    color: white;
}

/* Reduce width of title header and its cell*/
#title-th,
#search-results td:nth-child(1),
#playlist-view td:nth-child(1) {
    width: 30%; 
}

/* playlist view table */
#playlist-view table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#playlist-view th,
#playlist-view td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

#playlist-view th {
    background-color: #333;
    color: white;
}

/* table rows */
#playlist-view tbody tr:hover,
#search-results tbody tr:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

/* Arrow for indicating sort order */
.sortable {
    position: relative;
}

/* Default state of arrow */
.sortable::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    vertical-align: middle;
    margin-left: 5px;
    border-width: 5px 5px 0 5px;
    border-color: transparent transparent transparent transparent;
}

/* Change the arrow direction based on the sorting order */
.sortable.asc::after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent white transparent;
}

.sortable.desc::after {
    border-width: 5px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

/* Separate arrow indicators for title */
#title-th.sortable::after {
    position: relative;
    cursor: pointer;
}

#title-th.sortable.asc::after {
    border-width: 5px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

#title-th.sortable.desc::after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent white transparent;
}

/* Replace bullet points with green arrows*/
#analysis-data {
    list-style: none;
    padding: 0;
}


#analysis-data li::before {
    content: "\2192"; 
    color: #02fa0a; 
    display: inline-block;
    width: 1em; 
    margin-right: 0.5em; 
}

#analysis-data li {
    margin-bottom: 0.5em; 
}

/* rounded buttons */
button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* buttons */
#remove-all-button {
    background-color: #02fa0a;
    color: white;
}

#clear-button {
    background-color: #c2cec2;
    color: white;
}

#search-button {
    background-color: #02fa0a;
    color: white;
    margin-top: 15px;
}

#playlist-button {
    background-color: #3498db;
    color: white;
}

/* radar chart section */
#song-details {
    display: flex;
}

#left-section,
#right-section {
    width: 50%;
    padding: 20px;
}

/* Single song view section */
#single-song-view h2 {
    color: #333;
}

#song-details {
    display: flex;
}

#left-section,
#right-section {
    width: 50%;
    padding: 20px;
}

/* Notifications */
.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #02fa0a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    /* Credits panel */
    .credits-panel {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    }
    
    /* Footer link  */
    .footer-link {
    color: #02fa0a;
    text-decoration: none;
    margin: 0 5px;
    }